<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reactIMRS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0066A1D64360DD45914E899DACD6BAB08C51B7B0</string>
				<key>dateExpires</key>
				<string>5/8/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0066A1D64360DD45914E899DACD6BAB08C51B7B0</string>
						<key>dateExpires</key>
						<string>5/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BN9MCHVV7G</string>
						<key>name</key>
						<string>Bryce Ellinger</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BN9MCHVV7G.edu.unt.IMRS</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BN9MCHVV7G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>reactIMRS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>665d0524-5e70-4103-b0a6-23e77d223d20</string>
				<key>dateExpires</key>
				<string>5/8/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: edu.unt.IMRS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BN9MCHVV7G</string>
				<key>name</key>
				<string>Bryce Ellinger</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
